= content_for :js_libs, "parallax"
%main.landing-3
  .parallax-window{"data-image-src" => "#{asset_path('rrt/stock/us_landscape_2.jpg')}", "data-parallax" => "scroll", "data-speed" => "0.5"}
    .container
      .text-white
        = render partial: 'content_blocks/landing_navs/1', locals: { nav_class: 'navbar-dark' }
      .row
        .col-12.col-md-7.ml-md-auto.mr-md-auto.text-center.text-white.mt-5
          %h1.text-shadow-light.leading-normal You'll never have to work again
          %p.lead.font-weight-medium.mt-5.text-shadow-light PYRMID is the ultimate in trans-human enhancement. Neural lace interface of the finest quality.
          %a.btn.btn-lg.btn-circle.btn-outline-light.text-white.text-hover-dark{href: "javascript:"} Find out More
      .row.mt-5.pt-5.pb-5
        .col-12.col-md-4.text-center.text-white
          .bg-circle.mb-4
            = theme_icon_tag "eye", class: "text-opacity-9 display-3"
          %h5 Amazing Feature
          %p.small.px-5.text-opacity-8 Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab?
        .col-12.col-md-4.text-center.text-white
          .bg-circle.text-white.mb-4
            = theme_icon_tag "ticket", class: "display-3"
          %h5 Amazing Feature
          %p.small.px-5.text-opacity-8 Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab?
        .col-12.col-md-4.text-center.text-white
          .bg-circle.text-white.mb-4
            = theme_icon_tag "pulse", class: "display-3"
          %h5 Amazing Feature
          %p.small.px-5.text-opacity-8 Ipsum aliquam earum nesciunt officia accusantium optio aliquid enim quasi numquam sunt autem? Omnis odio earum aspernatur reprehenderit ab?
%section
  .container.content-block-2.py-5.mt-5.mb-5
    .row
      .co-12.col-md-5.mr-md-auto
        %img.rounded{src: "//placeimg.com/600/400/any"}/
      .col-12.col-md-6
        %h3 This is an awesome thing here
        %p.lead Amazing virtues of modern startup capitalism
        %p You won't believe what lorem facere maiores corporis architecto magnam sunt expedita et! Ut fuga numquam similique nesciunt dolor. Culpa necessitatibus numquam reprehenderit corporis accusantium numquam doloremque sunt! Error in magnam ipsum temporibus minus.
        %a.btn.btn-primary{href: "javascript:"}
          = theme_icon_tag "eye"
          Action 1
        %a.btn.btn-success{href: "javascript:"}
          = theme_icon_tag "upload"
          Action 2
%section
  .container.content-block-1.py-5.mt-5.mb-5
    .row
      .col-12.col-md-6
        %h3 This is an awesome thing here
        %p.lead Amazing virtues of modern startup capitalism
        %p You won't believe what lorem facere maiores corporis architecto magnam sunt expedita et! Ut fuga numquam similique nesciunt dolor. Culpa necessitatibus numquam reprehenderit corporis accusantium numquam doloremque sunt! Error in magnam ipsum temporibus minus.
        %a.btn.btn-primary{href: "javascript:"}
          = theme_icon_tag "eye"
          Action 1
        %a.btn.btn-success{href: "javascript:"}
          = theme_icon_tag "upload"
          Action 2
      .co-12.col-md-5.ml-md-auto
        %img.rounded{src: "//placeimg.com/600/400/any"}/
%section.bg-white
  .container.py-5
    .row.no-gutters.equal-cols.align-items-center
      .col-12.col-md-5
        %img.mb-3.mb-md-0{height: "510px", src: "//placeimg.com/800/600"}/
      .col-12.col-md-5.mx-md-auto
        %h2.leading-normal Ultime fantastic nightstand reproduction
        %p.lead Dolor obcaecati at nesciunt quibusdam sed nesciunt quibusdam repellendus, ab reprehenderit. Ea tempore voluptas esse qui eius consequuntur!
        %a.d-table.btn.btn-outline-primary.btn-border-2x{href: "javascript:"} See the demo
        .row.no-gutters.mt-5
          .col-12.col-md-5
            %h6.font-weight-normal Cats on the roof
            %p.small.text-muted Ipsum quaerat officia accusantium totam aliquid. Facere quaerat fugiat nostrum debitis officia? Tempore repudiandae eaque expedita quisquam nisi?
          .col-12.col-md-5.ml-md-auto
            %h6.font-weight-normal Cats on the roof
            %p.small.text-muted Ipsum quaerat officia accusantium totam aliquid. Facere quaerat fugiat nostrum debitis officia? Tempore repudiandae eaque expedita quisquam nisi?
%section.bg-dark.py-5
  .container
    .row
      .col-12.d-flex.flex-wrap.align-items-center.justify-content-between.text-white
        .cta-body
          %h5.m-0 Try it for free
          %p.lead.m-0
            Already using MyApp?
            %a.text-success{href: "#"} Sign in.
        %a.btn.btn-success.btn-lg.text-uppercase.d-table{href: "javascript:"} Get Started
%section.bg-white.py-5
  .container
    .row
      .col-12.d-flex.flex-column.flex-wrap.align-items-center.justify-content-center.p-5
        .border.border-info.border-2x.btn-lg.text-uppercase
          %h4.m-0
            Made with #{theme_icon_tag "heart"} in Victoria, BC
        %h6.text-center.pt-5 Ipsum soluta labore! Assumenda!
        .btn.btn-success Sign up Now
%footer.bg-dark
  .container
    .row.no-gutter.bg-dark.p-5
      .col-12.col-md-2
        .d-flex.flex-column.flex-wrap.align-items-start.justify-content-center
          %img.mb-3{height: "64", src: "#{image_path('rrt/pyrrmid_64.png')}", width: "64"}/
          %h6.text-white PYRMID
      .col-12.col-md-10.ml-md-auto.text-white
        .row
          .col-12.col-md-3
            %h6 NAVIGATION
            %ul.list-unstyled
              %li
                %a.text-hover-light{href: "javascript:"} Home
              %li
                %a.text-hover-light{href: "javascript:"} About
              %li
                %a.text-hover-light{href: "javascript:"} Projects
              %li
                %a.text-hover-light{href: "javascript:"} Contact
          .col-12.col-md-3
            %h6 LEGAL
            %ul.list-unstyled
              %li
                %a.text-hover-light{href: "javascript:"} Terms of Service
              %li
                %a.text-hover-light{href: "javascript:"} Privacy Policy
              %li
                %a.text-hover-light{href: "javascript:"} Cookie Policy
          .col-12.col-md-3
            %h6 SUPPORT
            %ul.list-unstyled
              %li
                %a.text-hover-light{href: "javascript:"} FAQ
              %li
                %a.text-hover-light{href: "javascript:"} Help Desk
              %li
                %a.text-hover-light{href: "javascript:"} Knowledge Base
          .col-12.col-md-3
            %h6 SUBSCRIBE
            %form{action: ""}
              %input.form-control.text-white.text-focus-dark.small{placeholder: "Your Email", type: "text"}/
              %button.btn.btn-success.btn-sm.btn-block.mt-2{type: "button"} Get Notified
    .row.no-gutter.bg-dark.p-4
      .col-12.text-center
        %p.small.text-muted.m-0 © 2017 &amp;dash; PYRMID INC
