%section.bg-dark.p-5
  .container
    .row
      .col-sm-12.text-white
        %h1 Spectrum Trail Running Terms of Service
.container
  .row
    .col-sm-12.col-md-8.mr-md-auto.ml-md-auto.py-5
      .alert
        %strong Warning!
        This Terms of Service agreement is a template. It does not constitute legal advice or protection, and RRT is not acting in a legal advisory capacity. If in doubt, have a legal professional revue the text for your specific circumstances. By using the template you agree that it is fully suitable for your purposes
      .well.mt40.mb40
        %h2 Spectrum Trail Running User Agreement
        %p This User Agreement ("Agreement") is a contract between you ("you," "your" or "user") and Spectrum Trail Running, an LLC ("Spectrum Trail Running," "we", "us" or "our") and applies to your use of the Spectrum Trail Running website and all services described herein (collectively, the "Spectrum Trail Running Services").
        %h3 Part 1: General Use.
        %p
          By signing up to use the Spectrum Trail Running Account through the Spectrum Trail Running website located at spectrumtrailrunning.com, the Spectrum Trail Running API, and/or any associated Spectrum Trail Running-hosted websites or mobile applications (collectively the "Spectrum Trail Running Site"), you agree to comply with and be legally bound by this Agreement, as revised from time to time.
          %strong If you do not agree to any of the terms set forth in this Agreement, or any subsequent modification to the Agreement, you may not access or use any of the Spectrum Trail Running Services and must cancel your Spectrum Trail Running Account, free of charge, in the manner set forth below. You further agree that any disputes between you and Spectrum Trail Running will be resolved by binding, individual arbitration and you waive your right to participate in a class action lawsuit or class-wide arbitration.
        %p We may amend or modify this Agreement by posting on the Spectrum Trail Running Site or emailing to you the revised Agreement, and the revised Agreement shall be effective at such time. We may (a) modify or discontinue any portion of the Spectrum Trail Running Services, and (b) suspend or terminate your access to the Spectrum Trail Running Services, at any time, and from time to time, without notice to you in certain, limited circumstances described herein. You agree that we shall not be liable to you or any third party for any modification or termination of the Spectrum Trail Running Services, or suspension or termination of your access to the Spectrum Trail Running Services, except to the extent otherwise expressly set forth herein.
        %p To be eligible to use the Spectrum Trail Running Services, you must be at least 18 years old (or the applicable age of majority and contractual capacity). By accessing or using the Spectrum Trail Running Services you represent and warrant that you are 18 or older.
        %h4 1. Basic Spectrum Trail Running Services.
        %p Your Spectrum Trail Running account ("Spectrum Trail Running Account") encompasses the following basic Spectrum Trail Running Services, among others:
        %ul
          %li Both historical and real-time proprietary data products for purchase (interchangeably, the "Data Service") that can be used pursuant to the instructions below.
          %li A notifications service for keeping abreast of cryptocurrency market information (the "Notification Service"); and
          %li Various other tools for analyzing Spectrum Trail Running"s proprietary market data (collectively, "Other Tools").
        %p Each of these Spectrum Trail Running Services is described in detail below.
        %h4 2. Creating a Spectrum Trail Running Account.
        %p
          %strong 2.1. Registration of Spectrum Trail Running Account.
          In order to use any of the Spectrum Trail Running Services, you must first register by providing your name, an e-mail address, password, and affirming your acceptance of this Agreement. Upon successful completion of the registration process, Spectrum Trail Running will establish your Spectrum Trail Running Account. Spectrum Trail Running may, in our sole discretion, refuse to allow you to establish a Spectrum Trail Running Account, or limit the number of Spectrum Trail Running Accounts that a single user may establish and maintain at any time.
        %h4 3. Refund Policy.
        %p Refunds are not available and in certain circumstances we may offer credit for service lost or interrupted
        %h4 4. Notification Service and Other Tools
        %p
          %strong 4.1. Informational Purposes Only.
          The Notification Service as well as Other Tools offered by Spectrum Trail Running are information services offered free of charge. We make no guarantee that the data provided by these services are accurate, up-to-date, or correct, and by using these services you agree not to hold Spectrum Trail Running responsible for any costs or damages incurred. We reserve the right to discontinue any or all of these services at any time, and we reserve the right to restrict access to these services for any reason.
        %h4 5. General Use, Prohibited Use, and Termination.
        %p
          %strong 5.1. General Use.
        %blockquote
          %p
            %strong 5.1.1 Limited License.
            We grant you a limited, nonexclusive, nontransferable license, subject to the terms of this Agreement, to access and use the Spectrum Trail Running Site, and the content, materials, information and functionality available in connection therewith (collectively, the "Content") solely for informational, transactional, or other approved purposes as permitted by Spectrum Trail Running from time to time. Any other use of the Spectrum Trail Running Site or Content is expressly prohibited. All other rights in the Spectrum Trail Running Site or Content are reserved by us and our licensors. We reserve all rights in the Spectrum Trail Running Site and Content and you agree that this Agreement does not grant you any rights in or licenses to the Spectrum Trail Running Site or the Content, except for this express, limited license. You will not otherwise copy, transmit, distribute, sell, resell, license, de-compile, reverse engineer, disassemble, modify, publish, participate in the transfer or sale of, create derivative works from, perform, display, incorporate into another website, or in any other way exploit any of the Content or any other part of the Spectrum Trail Running Site or any derivative works thereof, in whole or in part for commercial or non-commercial purposes. Without limiting the foregoing, you will not frame or display the Spectrum Trail Running Site or Content (or any portion thereof) as part of any other web site or any other work of authorship without our prior written permission. If you violate any portion of this Agreement, your permission to access and use the Spectrum Trail Running Services may be terminated pursuant to this Agreement. In addition, we reserve the right to all remedies available at law and in equity for any such violation. "SpectrumTrailRunning.com", "Spectrum Trail Running", and all logos related to the Spectrum Trail Running Services or displayed on the Spectrum Trail Running Site are either trademarks or registered marks of Spectrum Trail Running or its licensors. You may not copy, imitate or use them without Spectrum Trail Running"s prior written consent.
          %p
            %strong 5.1.2. Website Accuracy.
            Although we intend to provide accurate and timely information on the Spectrum Trail Running Site, the Spectrum Trail Running Site (including, without limitation, the Content) may not always be entirely accurate, complete or current and may also include technical inaccuracies or typographical errors. In an effort to continue to provide you with as complete and accurate information as possible, information may be changed or updated from time to time without notice, including without limitation information regarding our policies, products and services. Accordingly, you should verify all information before relying on it, and all decisions based on information contained on the Spectrum Trail Running Site are your sole responsibility and we shall have no liability for such decisions.
          %p
            %strong 5.1.3. Third-Party Materials.
            From time to time, the Spectrum Trail Running Site may contain references or links to third-party materials (including without limitation websites) and third-party applications which are not controlled by us. Such information, links, and third-party applications are provided as a convenience to you. Such links should not be considered endorsements and such reference does not imply our recommendation, approval, affiliation, or sponsorship of that respective property, product, service, or process. You acknowledge and agree that we are not responsible for any aspect of the information, content, or services contained in any third-party materials or on any third party sites accessible or linked to the Spectrum Trail Running Site, including without limitation content, property, goods or services available on the linked sites or services.
          %p
            %strong 5.1.4
            = succeed "If," do
              %strong . Third-Party Applications.
          %p
            %strong 5.1.5. Application Programming Interface.
            Any person or entity who uses Spectrum Trail Running"s Application Programming Interface ("Spectrum Trail Running API") must comply with the terms of this User Agreement and/or any other conditions as Spectrum Trail Running may put into place in its sole discretion from time to time. The Spectrum Trail Running API is owned by Spectrum Trail Running and is licensed to Spectrum Trail Running API users on a non-exclusive, non-sublicensable basis. Spectrum Trail Running reserves the right to restrict or limit use when, in its sole discretion, we identify abusive, burdensome, or prohibited use of the Spectrum Trail Running API.
        %p
          %strong 5.2. Prohibited Use.
          In connection with your use of the Spectrum Trail Running Services, and your interactions with other users, and third parties you agree and represent you will not engage in any Prohibited Use defined herein. We reserve the right at all times to monitor, review, retain and/or disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request. We reserve the right to cancel and/or suspend your Spectrum Trail Running Account immediately and without notice if we determine, in our sole discretion, that your Account is associated with Prohibited Use.
        %p
          %strong 5.3. Suspension, Termination, and Cancellation.
          Spectrum Trail Running may: (a) suspend, restrict, or terminate your access to any or all of the Spectrum Trail Running Services, and/or (b) deactivate or cancel your Spectrum Trail Running Account if:
        %ul
          %li
            We are so required by a facially valid subpoena, court order, or binding order of a government authority;
            %em or
          %li
            We reasonably suspect you of using your Spectrum Trail Running Account in connection with Prohibited Use;
            %em or
          %li
            Use of your Spectrum Trail Running Account is subject to any pending litigation, investigation, or government proceeding and/or we perceive a heightened risk of legal or regulatory non-compliance associated with your Account activity;
            %em or
          %li
            Our service partners are unable to support your use;
            %em or
          %li You take any action that Spectrum Trail Running deems as circumventing Spectrum Trail Running"s controls, including, but not limited to, opening multiple Spectrum Trail Running Accounts or abusing promotions which Spectrum Trail Running may offer from time to time.
        %p You will not be charged for canceling your Spectrum Trail Running Account and will only be required to pay for those Spectrum Trail Running Services used that are subject to charges. If any transaction is in a pending state at the time your Spectrum Trail Running Account is cancelled or suspended, such transaction may be cancelled and/or refunded as appropriate. You may not cancel your Spectrum Trail Running Account to evade an investigation or avoid paying any amounts otherwise due to Spectrum Trail Running. Upon cancellation of your Spectrum Trail Running Account, you authorize Spectrum Trail Running to cancel or suspend pending Data Service transactions and hold the funds associated with such transactions until Spectrum Trail Running is certain that funding reversal windows are complete. In the event that you or Spectrum Trail Running terminates this Agreement or your access to the Spectrum Trail Running Services, or deactivates or cancels your Spectrum Trail Running Account, you will remain liable for all amounts due hereunder. In the event that a technical problem causes system outage or Account errors, Spectrum Trail Running may temporarily suspend access to your Account until the problem is resolved.
        %h4 6. Our Relationship with You.
        %p
          %strong 6.1. Relationship of the Parties.
          Spectrum Trail Running is an independent contractor for all purposes. Nothing in this Agreement shall be deemed or is intended to be deemed, nor shall it cause, you and Spectrum Trail Running to be treated as partners, joint ventures, or otherwise as joint associates for profit, or either you or Spectrum Trail Running to be treated as the agent of the other.
        %p
          %strong 6.2. Service Providers.
          From time to time, Spectrum Trail Running may engage third parties to assist Spectrum Trail Running in providing certain aspects of the Spectrum Trail Running Services (each, a "Service Provider"). Service Providers may include, but are not limited to, Spectrum Trail Running"s technology or engineering service providers.
        %p
          %strong 6.3. Your Privacy.
          Protecting your privacy is very important to Spectrum Trail Running. Please review our
          = succeed "," do
            %a{href: "#"} Privacy Policy
        %p
          %strong 6.4. Password Security and Keeping Your Contact Information Current.
          You are responsible for maintaining adequate security and control of any and all IDs, passwords, hints, personal identification numbers (PINs), API keys or any other codes that you use to access the Spectrum Trail Running Services. Any loss or compromise of the foregoing information and/or your personal information may result in unauthorized access to your Spectrum Trail Running Account by third-parties and the loss or theft of information from your Spectrum Trail Running account. You are responsible for keeping your email address and phone number up to date in your Account Profile in order to receive any notices or alerts that we may send you. We assume no responsibility for any loss that you may sustain due to compromise of your sensitive information or failure to follow or act on any notices or alerts that we may send to you. In the event you believe your Spectrum Trail Running Account information has been compromised, contact Spectrum Trail Running Support immediately at
          = succeed "." do
            %a{href: "#"} address@example.com
        %p
          %strong 6.5. Consent to Electronic Records. By using the Spectrum Trail Running Services, you agree that Spectrum Trail Running may provide you with any notices or other communications about your Spectrum Trail Running Account and the Spectrum Trail Running Services electronically: (a) via email (in each case to the address that you provide), SMS message, or telephone call (in each case to the phone number that you provide), or (b) by posting to the Spectrum Trail Running Site. For notices made by email, the date of receipt will be deemed the date on which such notice is transmitted. If you do not wish to receive notices or other communications electronically, we will be unable to support your Spectrum Trail Running Account and your Spectrum Trail Running Account will be cancelled.
        %p
          %strong 6.6. Notices to Spectrum Trail Running.
          We prefer receiving notices to Spectrum Trail Running electronically through our support system at
          = succeed "." do
            %a{href: "#"} address@example.com
        %h4 7. Customer Feedback, Queries, and Complaints
        %p
          %strong 7.1. Contact Spectrum Trail Running.
          If you have any feedback, questions, or complaints, contact us via our email at
          %a{href: "#"} address@example.com
          or write to us at Spectrum Trail Running Customer Support, 123 Anystreet, Anytown, USA. When you contact us please provide us with your name, address, and any other information we may need to identify you, your email address associated with your Spectrum Trail Running Account, and the issue with which you have feedback, questions, or complaints.
        %p
          %strong 7.2. Arbitration; Waiver of Class Action.
          If you have a dispute with Spectrum Trail Running, we will attempt to resolve any such disputes through our support team.
          = succeed "." do
            %strong If we cannot resolve the dispute through our support team, you and we agree that any dispute arising under this Agreement shall be finally settled in arbitration, on an individual basis in accordance with the American Arbitration Association"s rules for arbitration of consumer-related disputes and you and Spectrum Trail Running hereby expressly waive trial by jury
        %p
          %strong 7.3. Time Limitation on Claims.
          You agree that any claim you may have arising out of or related to your relationship with Spectrum Trail Running must be filed within one year after such claim arose; otherwise, your claim is permanently barred.
        %h4 8. General Provisions.
        %p
          %strong 8.1. Limitations of Liability.
          IN NO EVENT SHALL Spectrum Trail Running, ITS AFFILIATES AND SERVICE PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, BE LIABLE FOR LOST PROFITS OR ANY SPECIAL, INCIDENTAL OR CONSEQUENTIAL DAMAGES ARISING OUT OF OR IN CONNECTION WITH THE Spectrum Trail Running SITE, THE Spectrum Trail Running SERVICES, OR THIS AGREEMENT (HOWEVER ARISING, INCLUDING NEGLIGENCE). Some states do not allow the exclusion or limitation of incidental or consequential damages so the above limitation or exclusion may not apply to you. THE LIABILITY OF Spectrum Trail Running, ITS AFFILIATES AND SERVICE PROVIDERS, OR ANY OF THEIR RESPECTIVE OFFICERS, DIRECTORS, AGENTS, JOINT VENTURERS, EMPLOYEES OR REPRESENTATIVES, TO YOU OR ANY THIRD PARTIES IN ANY CIRCUMSTANCE IS LIMITED TO THE LOWER OF (A) THE ACTUAL AMOUNT OF DIRECT DAMAGES; OR (B) FEES PAID TO Spectrum Trail Running BY YOU IN THE PRECEDING THREE (3) MONTHS.
        %p
          %strong 8.2. Computer Viruses.
          We shall not bear any liability, whatsoever, for any damage or interruptions caused by any computer viruses, spyware, scareware, Trojan horses, worms or other malware that may affect your computer or other equipment, or any phishing, spoofing or other attack. We advise the regular use of a reputable and readily available virus screening and prevention software. You should also be aware that SMS and email services are vulnerable to spoofing and phishing attacks and should use care in reviewing messages purporting to originate from Spectrum Trail Running. Always log into your Spectrum Trail Running Account through the Spectrum Trail Running Site to review any transactions or required actions if you have any uncertainty regarding the authenticity of any communication or notice.
        %p
          %strong 8.3. Release of Spectrum Trail Running.
          If you have a dispute with one or more users of the Spectrum Trail Running services, you release Spectrum Trail Running, its affiliates and service providers, and each of their respective officers, directors, agents, joint venturers, employees and representatives from any and all claims, demands and damages (actual and consequential) of every kind and nature arising out of or in any way connected with such disputes. In addition, in entering into this release you expressly waive any protections (whether statutory or otherwise – e.g., California civil code §1542), that would otherwise limit the coverage of this release to include only those claims which you may know or suspect to exist in your favor at the time of agreeing to this release.
        %p
          %strong 8.4. No Warranty.
          THE Spectrum Trail Running SERVICES ARE PROVIDED "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATION OR WARRANTY, WHETHER EXPRESS, IMPLIED OR STATUTORY. Spectrum Trail Running SPECIFICALLY DISCLAIMS ANY IMPLIED WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NON-INFRINGEMENT. Spectrum Trail Running DOES NOT GUARANTEE CONTINUOUS, UNINTERRUPTED OR SECURE ACCESS TO ANY PART OF Spectrum Trail Running SERVICES, AND OPERATION OF THE Spectrum Trail Running SITE MAY BE INTERFERED WITH BY NUMEROUS FACTORS OUTSIDE OF OUR CONTROL. SOME STATES DO NOT ALLOW THE DISCLAIMER OF IMPLIED WARRANTIES, SO THE FOREGOING DISCLAIMERS MAY NOT APPLY TO YOU. THIS PARAGRAPH GIVES YOU SPECIFIC LEGAL RIGHTS AND YOU MAY ALSO HAVE OTHER LEGAL RIGHTS THAT VARY FROM STATE TO STATE.
        %p
          %strong 8.5. Indemnification.
          You agree to indemnify and hold Spectrum Trail Running, its affiliates and Service Providers, and each of their respective officers, directors, agents, joint venturers, employees and representatives, harmless from any claim or demand (including attorneys" fees and any fines, fees or penalties imposed by any regulatory authority) arising out of or related to (i) your breach of this Agreement, (ii) your use of Spectrum Trail Running Services, or (iii) your violation of any law, rule or regulation, or the rights of any third party.
        %p
          %strong 8.6. Entire Agreement.
          This Agreement sets forth the entire understanding and agreement between you and Spectrum Trail Running as to the subject matter hereof, and supersedes any and all prior discussions, agreements and understandings of any kind (including without limitation any prior versions of this Agreement), and every nature between and among you and Spectrum Trail Running.
        %p
          %strong 8.7. Assignment.
          This Agreement, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by Spectrum Trail Running without restriction, including without limitation to any of its affiliates or subsidiaries, or to any successor in interest of any business associated with the Spectrum Trail Running Services. Any attempted transfer or assignment in violation hereof shall be null and void. Subject to the foregoing, this Agreement will bind and inure to the benefit of the parties, their successors and permitted assigns.
        %p
          %strong 8.8. Severability.
          If any provision of this Agreement shall be determined to be invalid or unenforceable under any rule, law or regulation or any governmental agency, local, state, or federal, such provision will be changed and interpreted to accomplish the objectives of the provision to the greatest extent possible under any applicable law and the validity or enforceability of any other provision of this Agreement shall not be affected.
        %p
          %strong 8.9. Change of Control.
          In the event that Spectrum Trail Running is acquired by or merged with a third party entity, we reserve the right, in any of these circumstances, to transfer or assign the information we have collected from you as part of such merger, acquisition, sale, or other change of control.
        %p
          %strong 8.10. Survival.
          All provisions of this Agreement which by their nature extend beyond the expiration or termination of this Agreement, including, without limitation, sections pertaining to suspension or termination, Spectrum Trail Running Account cancellation, debts owed to Spectrum Trail Running, general use of the Spectrum Trail Running Site, disputes with Spectrum Trail Running, and general provisions, shall survive the termination or expiration of this Agreement.
        %p
          %strong 8.11. Governing Law.
          You agree that the laws of the YOUR_STATE, without regard to principles of conflict of laws, will govern this Agreement and any claim or dispute that has arisen or may arise between you and Spectrum Trail Running, except to the extent governed by federal law.
        %p
          %strong 8.12. Force Majeure.
          We shall not be liable for delays, failure in performance or interruption of service which result directly or indirectly from any cause or condition beyond our reasonable control, including but not limited to, any delay or failure due to any act of God, act of civil or military authorities, act of terrorists, civil disturbance, war, strike or other labor dispute, fire, interruption in telecommunications or Internet services or network provider services, failure of equipment and/or software, other catastrophe or any other occurrence which is beyond our reasonable control and shall not affect the validity and enforceability of any remaining provisions.
        %p
          %strong 8.13. Section Headings.
          Section headings in this Agreement are for convenience only, and shall not govern the meaning or interpretation of any provision of this Agreement.
        %p
          %strong 8.14. English Language Controls.
          Notwithstanding any other provision of this Agreement, any translation of this Agreement is provided for your convenience. The meanings of terms, conditions and representations herein are subject to definitions and interpretations in the English language. Any translation provided may not accurately represent the information in the original English.
        %p
          %strong 8.15. Non-Waiver of Rights.
          This agreement shall not be construed to waive rights that cannot be waived under applicable state money transmission laws in the state where you are located.
        %hr/
        %h3 Appendix 1: Prohibited Use
        %p You may not use your Spectrum Trail Running Account to engage in the following categories of activity ("Prohibited Use"). By opening a Spectrum Trail Running Account, you confirm that you will not use your Account to do any of the following:
        %ol
          %li Violate or assist any party in violating any law, statute, ordinance, regulation or any rule of any self-regulatory or similar organization of which you are or are required to be a member (for example, those laws, rules, or regulations governing financial services, controlled substances, or consumer protections);
          %li Partake in a transaction which involves the proceeds of any unlawful activity;
          %li Partake in any transaction involving online gambling except where permitted by Spectrum Trail Running;
          %li Defraud or attempt to defraud Spectrum Trail Running or other Spectrum Trail Running users;
          %li Infringe upon Spectrum Trail Running"s or any third party"s copyright, patent, trademark, or intellectual property rights;
          %li Provide false, inaccurate or misleading information;
          %li Take any action that imposes an unreasonable or disproportionately large load on our infrastructure, or detrimentally interfere with, intercept, or expropriate any system, data, or information;
          %li Interfere with another individual"s or entity"s access to or use of any of the Spectrum Trail Running Services;
          %li Defame, abuse, harass, stalk, threaten or otherwise violate or infringe the legal rights (such as, but not limited to, rights of privacy, publicity and intellectual property) of others;
          %li Publish, distribute or disseminate any unlawful material or information;
          %li Transmit or upload any material to the Spectrum Trail Running Site that contains viruses, Trojan horses, worms, or any other harmful or deleterious programs;
          %li Harvest or otherwise collect information from the Spectrum Trail Running Site about others, including without limitation email addresses, without proper consent;
          %li Act as a payment intermediary or aggregator or otherwise resell any of the Spectrum Trail Running Services, unless expressly authorized by Spectrum Trail Running in writing;
          %li Transfer any rights granted to you under this Agreement;
          %li Use the Spectrum Trail Running Account information of another party to access or use the Spectrum Trail Running Site, except in the case of specific Merchants and/or applications which are specifically authorized by a user to access such user"s Spectrum Trail Running Account and information;
          %li Otherwise attempt to gain unauthorized access to the Spectrum Trail Running Site, other Spectrum Trail Running Accounts, computer systems or networks connected to the Spectrum Trail Running Site, through password mining or any other means; or
          %li Engage in transactions involving items that infringe or violate any copyright, trademark, right of publicity or privacy or any other proprietary right under the law.
= render "footer"
