- @title = "Sign up"
#main.devise-1
  .container-fluid
    .row
      %header.text-center
        %h1= app_name
        %p.p-0.m-0.text-uppercase Sign Up
    .row.mt-5
      .col-12.col-md-6.mr-auto.ml-auto
        .card
          .card-body
            .container
              = form_for resource, as: resource_name, url: registration_path(resource_name), |
                html: { class: "form-horizontal", novalidate: true } do |f|                  |
                = f.error_notification
                = f.form_group :email, class: "row" do |f|
                  = f.label :email, class: "form-label"
                  = f.email_field :email, autofocus: true, class: "form-control"
                  = f.error_messages
                = f.form_group :password, class: "row" do |f|
                  = f.label :password, class: "form-label"
                  = f.password_field :password, class: "form-control"
                  = f.error_messages
                = f.form_group :password_confirmation, class: "row" do |f|
                  = f.label :password_confirmation, class: "form-label"
                  = f.password_field :password_confirmation, class: "form-control"
                  = f.error_messages
                .row.d-flex.align-items-center.mt-5
                  = link_to "Log in?", new_session_path(resource_name)
                  = f.submit "Sign up", class: "btn btn-primary ml-auto"
