!!! 5
= html_tag :lang => "en" do
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "ie=edge", "http-equiv" => "x-ua-compatible"}/
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/
    %meta{content: "no-cache", name: "turbolinks-cache-control"}/
    %title= [@title, app_name].compact.join(" - ")
    = csrf_meta_tags
    = stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': 'reload'
    = yield :styles
    = favicon_link_tag
    = render 'layouts/external_js_libs'
    = yield :external_js_libs
    = javascript_include_tag "application", 'data-turbolinks-track': 'reload'
    = yield :javascript
    = yield :head
  %body{:class => @body_class, "data-js-libs" => "bootstrap fitie metis forms sidenav prism clipboard bs-switch #{yield :js_libs}"}
    = yield
