- @title = "My Registrations"
%h4 Registrations
.row
  .col-xs-12.col-sm-12.col-md-12.col-lg-12
    %table.table.table-responsive
      %thead
        %tr
          %th Race
          %th Distance
          %th Start
          %th Finish
          %th Overall
          %th Division
          %th Gen Place
          %th
      %tbody
      - @registrations.each do |registration|
        %tr
        %td= registration.race.name
        %td= "25K"
        %td= "9:00 AM"
        %td= "10:50 AM"
        %td= "1/1500"
        %td= "1/1500"
        %td= "1/1500"
        %td.actions
          = link_to fa_icon_tag("eye"), registration, rel: 'tooltip', title: 'Show'
