- @title = "Showing registration"

.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .form-horizontal
        .form-group
          %label.col-sm-2.form-label Race
          .uneditable-input.col-md-8.form-control
            %span= @registration.race

        .form-group
          %label.col-sm-2.form-label First name
          .uneditable-input.col-md-8.form-control
            %span= @registration.first_name

        .form-group
          %label.col-sm-2.form-label Last name
          .uneditable-input.col-md-8.form-control
            %span= @registration.last_name

        .form-group
          %label.col-sm-2.form-label Terms accepted
          .uneditable-input.col-md-8.form-control
            %span= @registration.terms_accepted

        .form-actions.col-md-offset-2
          = link_to fa_icon_tag("pencil") + ' Edit', edit_registration_path(@registration), class: 'btn btn-primary'
          = link_to 'Back', registrations_path, class: 'btn'
