- @title = "Listing series"

- content_for :description do
  %p Edit this template in app/views/Series/index.html.haml.

- content_for :actions do
  = link_to new_series_path, class: 'btn btn-primary btn-large pull-right' do
    = fa_icon_tag "plus"
    Add Series

.container
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .sheet.sheet-condensed
        .sheet-inner
          %table.table
            %thead
              %tr
                %th Name
                %th Short description
                %th Full description
                %th Allows mass registration
                %th Mass registration open at
                %th Contact email
                %th Contact name
                %th
            %tbody
              - @series.each do |series|
                %tr{id: "series-#{series.id}"}
                  %td= series.name
                  %td= series.short_description
                  %td= series.full_description
                  %td= series.allows_mass_registration
                  %td= series.mass_registration_open_at
                  %td= series.contact_email
                  %td= series.contact_name
                  %td.actions
                    = link_to fa_icon_tag("eye-open"), series, rel: 'tooltip', title: 'Show'
                    = link_to fa_icon_tag("pencil"), edit_series_path(series), rel: 'tooltip', title: 'Edit'
                    = link_to fa_icon_tag("trash"), series, rel: 'tooltip', title: 'Delete', data: { confirm: 'Are you sure?' }, method: :delete
