-# frozen_string_literal: true
= simple_form_for(@emergency_contact) do |f|
  = f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present?

  .form-inputs
    = f.association :user
    = f.input :first_name
    = f.input :last_name
    = f.input :relation
    = f.input :cell_phone
    = f.input :last_notified

  .form-actions
    = f.button :submit
