= content_for :js_libs, "modernizr jasny"
= render layout: "layouts/users/app_nav" do
  .row.mx-3
    .col-sm-12.col-md-3
      = render "users/profile_card"
      = render "users/next_race"

    .col-sm-12.col-md-9
      = render "layouts/flashes"
      .card
        .card-body
          = yield
