= content_for :js_libs, "modernizr jasny"
= render layout: "layouts/users/app_nav" do
  .row.mx-3
    .col-sm-12.col-md-3
      = render "users/profile_card"
      = render "users/next_race"

    .col-sm-12.col-md-6
      .card
        .card-body
          = yield
    .col-sm-12.col-md-3
      = render "layouts/flashes"
      = render "layouts/users/right_menu"
