= content_for :js_libs, "modernizr jasny"
= render layout: "layouts/users/app_nav" do
  = render "layouts/flashes"
  .row
    .col-sm-12.col-md-3
      = render "users/profile_header"
    .col-sm-12.col-md-6
      .card.mt-5
        .card-body
          .container
            = yield
    .col-sm-12.col-md-3
      = render "layouts/users/menu"
