= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "simple_form form-horizontal" }, wrapper: :horizontal_form, wrapper_mappings: { check_boxes: :horizontal_radio_and_checkboxes, radio_buttons: :horizontal_radio_and_checkboxes, file: :horizontal_file_input, boolean: :horizontal_boolean }) do |f|
  = f.error_notification
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    .row
      .col-sm-12
        %p
          Currently waiting confirmation for: #{resource.unconfirmed_email}
  .form-inputs
    %fieldset
      %legend Contact Info
      .form-group
        = f.input :full_name, required: true, autofocus: true, label: "Your Full Name"
        = f.input :preferred_name, required: true, label: "Preferred Name"
        = f.input :cell_phone, label: "Phone", as: :tel, required: true
        = f.input :allows_texting, as: :radio_buttons, label: "Allow us to text you?"
        = f.input :email, required: true, autofocus: true
        = f.input :allows_email, as: :radio_buttons, label: "Allow us to email you?"
        .custom-file
          = f.input :avatar, label: "Profile Image", wrapper: :horizontal_custom_file
    %hr
    %fieldset.form-group
      %legend Preferences
      .form-group
        = f.input :preferred_shirt_size, as: :select, include_blank: false, collection: ["X-SMALL", "SMALL", "MEDIUM", "LARGE", "X-LARGE"]
        = f.input :preferred_division, as: :radio_buttons, collection: User::DIVISIONS, label: "General Race Division"
        = f.input :medical_notes, as: :text
    %hr
    %fieldset.form-group
    %legend Password
    .form-group
      = f.input :password, autocomplete: "off", hint: "leave it blank to remain unchanged", required: false
      = f.input :password_confirmation, autocomplete: "off", hint: "leave it blank to remain unchanged", required: false
      = f.input :current_password, hint: "needed to confirm any changes", required: true
  %hr
  .form-actions
    .pull-right
      = f.button :submit, "Update", class: "btn btn-md btn-outline-success"
  %br
  %br
